.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  /*text-shadow: 5px 0 #232931;*/
  text-shadow: 2.5px 2.5px #9C060C;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.button {
  margin-top: 4rem;
  width: 7rem;
  height: 2.5rem;
  background: #4ECCA3;
  color: red;
  outline: none;
}

.button:hover {
  background:#9C060C;
  color: #FAF1D8;
}